
body{
  font-size: 16px;
}
.titleText, .row h3{
	color: white !important;
}
h2{
	margin-bottom: 20px;
}

.navBarContainer{
	text-align: center;
}
.myHeader, .titleText{
	clear: both !important;
}
.myHeader a{
	text-decoration: none;
}
.myNavBar{
	background-color: #E11F27;
	border:none;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {    
    vertical-align: baseline !important;    
}
.selectLabel{
	height: 44px;
	padding:10px;
}
.table{
	border: solid 1px #ccc;
}
.form-control{
	width: 80% !important;
}
.form-horizontal{
	max-width: 800px;
	padding:10px;
	border: solid 1px #ccc;
}

.sortOption{
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
}
.blankSpace{
  height:20px;
}

.title1, .title2{
    width: 45%;
    display: inline-block;    
}
.dropDown, .selectLabel{
    width: 45%;
    display: inline-block;
} 


/* Media queries For tablets*/

@media (min-device-width: 620px) and (max-device-width: 980px) {  
    body{
      font-size: 12px;
    }  
    .titleContainer .title1{
      width: 31%;
      display: inline-block;
    }     
    .titleContainer .title2{
      width: 50%;
    }
    .dropDown, .selectLabel{
      width: 40%; 
      display: inline-block;
    } 
}

/* Media queries For mobiles*/
@media (min-device-width: 320px) and (max-device-width: 619px) {      
    .selectLabel{
      padding: 10px 0;      
    }
    .title2{
      width: 80%;
    }
    .dropDown, .selectLabel{
      width: 48%; 
      display: inline-block;
    }
    .largeScreenOnly{
      display:none;
    }
    body{
      font-size: 12px;
    }
    .mobileCenter{
      text-align: center;
    } 
}

@media (min-device-width: 320px) and (max-device-width: 619px) and (orientation: landscape) {
  .title1, .title2{
    width: 45%;
    display: inline-block;
  }
  .selectLabel{

  }
}
/* for Chart */

.chart {
    background: #eee;
    padding: 15px;
    max-width: 400px;
}

.chart div {
  width: 20%;
  transition: width .5s ease-out;
  -moz-transition: width .5s ease-out;
  -webkit-transition: width .5s ease-out;
}

.chart div {
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: left;
  padding: 10px;
  margin: 10px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}